.key
{
    color: grey;
    width: 100%;
    height: 300px;
}

.back
{
    background-image: url(BGround.jpg);
    background-position: center;
    background-size: cover;
}

.MainTitle
{
    text-align: center;
    color:white;
    font-family: 'Centruy Gothic', Century Gothic;
}

.table,th,td
{
    border:4px background;
    font-family: 'Futura',Futura;
    padding: 10px;
    font-size: 18px;
}
